body {
  background-color: #e6e6fa;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Zen Kurenaido', sans-serif; /* タイトルフォント */
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  font-weight: bold;
  padding: 0.5rem;
  line-height: 1.1;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  background-color: #ffffe0;
}

.box-master {
  border-radius: 10px;
   overflow: hidden;
}

.genju {
  background-color: #fef4f4;
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  border: 2px solid #333;
  table-layout: fixed;
}

.genju-ex {
  background-color: #e9dfe5;
  color: black;
  width: 25%;
  line-height: 2;
  border: 1px solid #d4acad;
}

.genju-name {
  color: black;
  width: 60%;
  line-height: 2;
  border: 1px solid #d4acad;
}

.genju-re {
  color: black;
  width: 15%;
  line-height: 2;
  border: 1px solid #d4acad;
}

.item-name {
  color: black;
  width: 50%;
  line-height: 2;
  border: 1px solid #d4acad;
}

.item-rare {
  border: 1px solid #d4acad;
  line-height: 2;
}
