body {
  background-color: #e6e6fa;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Zen Kurenaido', sans-serif; /* タイトルフォント */
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  font-weight: bold;
  padding: 0.5rem;
  line-height: 1.1;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  background-color: #ffffe0;
}

.box-master {
  width: 100%;
  max-width: 500px;
}

.genju {
  background-color: #fef4f4;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: none;
  table-layout: fixed;
}

.genju-ex {
  background-color: #e9dfe5;
  color: black;
  width: 25%;
  height: 24px;
  line-height: 1.1;
  border-top: none;
  border-left: none;
  border-right: 1px solid #d4acad;
  border-bottom: 1px solid #d4acad;
}

.genju-name {
  color: black;
  width: 60%;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: 1px solid #d4acad;
  border-bottom: 1px solid #d4acad;
  text-align: left;
  padding-left: 8px;
}

.genju-re {
  color: black;
  width: 15%;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d4acad;
}

.genju-item {
  background-color: #fef4f4;
  width: 100%;
  height: 24px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-top: none;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: none;
  table-layout: fixed;
}

.item-name {
  color: black;
  width: 75%;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d4acad;
  text-align: left;
  padding-left: 8px;
}
.genju-status {
  background-color: #fef4f4;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-top: none;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: none;
  table-layout: fixed;
}

.genju-display {
  color: black;
  width: 25%;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: 1px solid #d4acad;
  border-bottom: 1px solid #d4acad;
}

.genju-sp {
  color: black;
  width: 25%;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d4acad;
}
  

.genju-value {
  background-color: #fef4f4;
  height: 60%;
  font-size: 12px;
  box-sizing: border-box;
  text-align: left;
  padding-left: 16px;
  display: flex;
}

.genju-point {
  background-color: #fef4f4;
  height: 40%;
  font-size: 8px;
  font-color: #eee;
  box-sizing: border-box;
  text-align: right;
  padding-right: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d4acad;
}

.genju-output {
  background-color: #fef4f4;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-top: none;
  border-radius: 0 0 10px 10px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  table-layout: fixed;
}

.output {
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: 1px solid #d4acad;
  border-bottom: none;
}
